p { margin: 5px; color: white}
body { background-color: #676565;}
h1 {color:white; margin-bottom: 20px;  margin-top: 0em;} 
img {margin-bottom: 20px;  margin-top: 0em;}
.img-container {text-align: center;}